*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*{
	font-family: "dan Sassoon", Arial, sans-serif;
}
html{
	font-size: 62.5%;
}
header{
    background-color: #0d0d0d;
}
h1{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3.6rem;
    font-weight: normal;
    color:#ffffff;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
nav{
	width: 100%;
    padding-left: 5%;
    padding-right: 5%;
	border-top: 1px solid #373737;
}
nav ul{
    display:inline-flex;
    flex-flow: row;
    justify-content: first baseline;
    width: 100%;
}
nav ul li{
	font-size: 1.6rem;
	list-style-type: none;
	display: inline-block;
	position: relative;
}
nav li a{
	text-decoration: none;
	color: #ffffff;
	display: block;
  	padding: 1.6rem 1.2rem;
}
.nav_list:hover{
	background-color: #373737;
	transition: 0.3s;
}



main{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f0f0f0;
    padding-bottom: 8rem;
}

.main_container{
    width: 750px;
}

h2{
    padding-top: 4.8rem;
    padding-bottom: 2.8rem;
    font-size: 2.4rem;
    font-weight: normal;
    color:#161616;
}

h3{
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
    color:#161616;
}

ol{
    padding-left: 2.1rem;
}

ol li::marker{
    font-size: 2rem;
    font-weight: bold;
    color:#161616;
}

.recommendation li{
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-bottom: 1.6rem;
    list-style-type: none;
}

.recommendation li:last-child{
    padding-bottom: 0;
}

p{
    font-size: 1.6rem;
    font-weight: lighter;
    color:#161616;
    text-align: left;
    line-height: 2.4rem;

}

.ul_text li{
    font-size: 1.6rem;
	list-style-type: none;
    font-weight: lighter;
    line-height: 2.4rem;
    padding-bottom: 0.4rem;
}

.ul_text li::before{
    content: "– ";
    position: relative;
}

.ul_text_2 li{
    padding-left: 3rem;
    font-size: 1.6rem;
	list-style-type: none;
    font-weight: lighter;
    line-height: 2.4rem;
    padding-bottom: 0;
}

.ul_text_2 li::before{
    content: "- ";
    position: relative;
}

.ul_list{
    padding-bottom: 1rem;
}

.notlast{
    padding-bottom: 2.4rem;
}

#principles_cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.2rem;
}

.card{
    background-color: #fcfcfc;
    padding: 2.4rem;
}

.card h4{
    font-size: 2rem;
    font-weight: normal;
    color:#161616;
    padding-bottom: 2.8rem;
}

.card p{
    font-size: 1.6rem;
    font-weight: normal;
    color:#161616;
}

.next_previous_container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: first baseline;
    background-color: #333333;
    padding-left: 5%;
    padding-right: 5%;
}

.col{
    font-size: 1.6rem;
	display: inline-block;
	position: relative;
}

.col a{
    text-decoration: none;
	color: #ffffff;
	display: block;
  	padding: 2rem;
}
.col a:hover{
	background-color: #555555;
	transition: 0.3s;
}

.label_next_previous{
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.requirements_accordions li{
    border-bottom: 1px solid #e0e0e0;
    list-style-type: none;
}

#firstitem{
    border-top: 1px solid #e0e0e0;
}

button:hover{
    background-color: #9f9f9f;
	transition: 0.3s;
}

.accordion_content{
    display: none;
    padding-left: calc(5% + 2.6rem);
}

.requirements_accordions button{
    display:inline-flex;
    flex-flow: row;
    width: 100%;
    font-weight: bold;
    padding:1.2rem 1rem;
    font-size: 1.6rem;
    border: none;
}

.requirements_accordions button:hover{
    background-color: #e5e5e5;
	transition: 0.3s;
}

.button_heading{
    padding-left: 5%;
    flex-grow: 1;
    text-align: left;
}

.accordion_content_heading{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2rem 0;
}

.accordion_arrow{
    transform: rotate(90deg);
}

footer{
    background-color: #0d0d0d;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    padding-left: 5%;
    padding-right:5%;
}
footer p{
    font-size: 1.4rem;
    font-weight: normal;
    color:#ffffff;
}

@media screen and (max-width:1080px){

}

@media screen and (max-width:1080px){

}